API_PORT=4000
LOG_LEVEL=info
NODE_ENV=development
PGHOST=localhost
PGPORT=5432
PGDATABASE=ticketflow
PGUSER=ticketflow
PGPASSWORD=ticketflow_dev_pw
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=change_me_in_prod
JWT_EXPIRES_IN=7d
